---
import Card from "../components/Card";
import NeonCheckbox from "../components/NeonCheckbox";
import Searcher from "../components/Searcher";
import "../styles/global.astro";
const ENV = import.meta.env;

// Obtiene los datos de la API en el servidor antes de renderizar la página
const response = await fetch(ENV.SERVER+ENV.getStock);
const productData = await response.json();

// Pasar los datos al componente Card
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>DaybarT-Shop</title>
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="div-login">
        <NeonCheckbox ENV={ENV} client:load />
        <!-- <Searcher/> -->
        <!-- <button on:click={() => {
					
					scrapper('IF6490');
				}}>Buscar</button> -->
      </div>
      <br />
      <div class="div-father">
        {
          productData.length === 0 ? (
            <div style="padding-top: 150px; font-size: 100px; background-color:#090b11;">
              NO STOCK
            </div>
          ) : (
            productData.map((product, index) => (
              <Card
                key={index}
                ENV={ENV}
                sku={product.SKU}
                title={product.Title}
                img={product.img}
                sizes={product.sizes}
                price={product.price}
				client:load
              />
            ))
          )
        }
      </div>
    </div>
  </body>
</html>
